<header>
  <nav class="nav">
    <div class="menu-right">
      <ul class="nav__list">
        <li class="nav__list-logo">
          <a href="/" class="logo-link">
            <img src="/client/src/assets/logo.png" alt="logo" class="logo-img" />
          </a>
        </li>

        <li class="nav__list-item">Study
          <ul class="nav__list-item-drop">
            <li>
              <a href="/quizes">
                Public quizes
              </a>
            </li>
            <li>Test game</li>
          </ul>
        </li>

        <li class="nav__list-item">About
          <ul class="nav__list-item-drop">
            <li>How it works</li>
            <li>Ways to play</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu-left">
      <ul class="nav__list">
        <li class="nav__list-item">Contact
        </li>
       <!-- user  -->
        <!-- <li class="nav__list-item">
          <a to="/games/joingame">
            Play
          </a>
        </li> -->
        <!-- userType Teacher -->
        <!-- <li class="nav__list-item">
          <a href="/myquizes">My Quizes
          </a>
        </li> -->
        <!-- <li class="nav__list-item">
          userFirstName
        </li>
        <li class="nav__list-item">Log out
        </li> -->

        <button href="/auth" class="nav__list-item">
          Log in
        </button>

        <li class="nav__list-item">
          <img src="" alt="" /> EN
          <ul class="nav__list-item-drop">
            <li>English
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </nav>
</header>
